{% set _ = item.update({'url_path': item.name ~ '.' ~ var_serverr_domain}) %}

server {
	listen 80;
	server_name {{ item.url_path }};
	return 301 https://$host$request_uri;
}


server {

	listen 443 ssl;
	server_name {{ item.url_path }};

	ssl_certificate /etc/letsencrypt/live/mokaddimul.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/mokaddimul.com/privkey.pem;

	location / {
		proxy_pass http://127.0.0.1:{{ item.port }};
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;


		proxy_http_version 1.1;
		proxy_buffering off;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";


		gzip off;
	}

}
